button,
button::after {
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
  -o-transition: all 0.5s;
	transition: all 0.5s;
}

button {
  position: relative;
  overflow: hidden;
}

button::before,
button::after {
  background: #0EFDD8;
  content: '';
  position: absolute;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
}

button:hover {
  color: #000;
}

button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

button:hover:after {
  width: 120%;
}